iframe
    {
    height:115px;
    }
* 
    {
    margin: 0;
    padding: 0;
    border: 0;
    }

body 
    {
    }
#container
    {

    }

h2, h3 
    {
    font-weight: normal;
    }
h2
    {
	text-align: center;
	font-family: "Roboto Slab";
    font-size: 36px;
    color:black;
    }
h3
    {
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    color: white;
    height:100%;
    margin-bottom:6px;
    border-bottom:1px solid white;
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#navbar
    {
    padding-top:8px;
    padding-bottom:8px;
    position: fixed;
    z-index:2;

    background:white;
    float:left;
    width:100%;
    border-bottom: 2px solid black;
    box-shadow: 0 0 4px 0 black;
    }
img#phone_logo
    {
    position:relative;
    display:inline;
    width:40px;
    height:auto;
    }
h1
    {
    font-family: "Geo";
    font-size: 20px;
    text-align:center;
    position:relative;
    font-weight:normal;
    height:41px;
    line-height:41px;
    width:100%; 
    margin-left:0px;
    display:none;
    }
a
    {
    text-decoration: none;
    color: black;	
    }
a: visited 
    {
    text-decoration: none;
    color: black;
    }
a: active 
    {
    text-decoration: none;
    color: black;
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR: NAVI BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


ul
    {
    list-style-type: none;
    }
li.nav
    {
    display:inline;
    float:left;
    /*width:143px;*/
    width:20%;
    text-align:center;
    }
.nav_button
    {
    position:relative;
	background-color: #3BF2BE;
	margin-right:8px;
	line-height: 41px;
	font-size:17px;
	display:inline;
    }
#person_button
    {
    background: #0894fe;
    color: white;
    }
#person_button span
    {
    display:none;
    }
#person_button:after
    {
    content: 'Me';
    }
#art_button span
    {
    display:none;
    }
#art_button:after
    {
    content: 'Art';
    }
#music_button span
    {
    display:none;
    }
#music_button:after
    {
    content: 'Music';
    }
#music_button
    {
    }
#ui_button span
    {
    display:none;
    }
#ui_button:after
    {
    content: 'UI';
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR: SOCIAL BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.social
    {
    position:relative;
    float:left;
    margin-right:8px;
    display:none;
    }
#linkedin
    {
    margin-right:0px;
    }

/*
.social
    {
    margin-top:8px;
    float:left;
    position: relative;
	text-align: left;
	font-family: "Roboto Slab";
    font-size: 21px;
    line-height:44px;
    width:100%;
    }
.social:hover
    {
    opacity: 0.5;
    }

#email
    {
    position: relative;
    float:left;
    margin-top:8px;
    }
#email:hover
    {
    opacity: 0.5;
    }
#email_text
    {
	position: relative;
	float:left;
	margin-top:8px;
	line-height:43px;
	margin-left:5px;
	text-align: left;
	font-family: "Roboto Slab";
    font-size: 21px;
    }
*/ 
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul.touch_social
    {
    width=100%;
    }
.touch_social img
    {
    height:28px;
    width:auto;
    margin-top:7px;
    }
#scloud
    {
    width:41px;
    height:auto;
    margin-top:12px;
    }
.touch
    {
    display:inline;
    margin-top:74px;
    margin-right:8px;
    margin-bottom:-9px;
    z-index:1;
    height:41px;
    width: calc(20% - 8px);
    background:#3BF2BE;
    text-align:center;
    }
#email.touch
    {
    margin-left:8px;
    width:calc(20% - 16px);
    }
.scrollfixer
    {
    height:82px;
    }
#content
    {
    float:left;
    position:relative;
    width:100%;
    }
li.title
    {
    padding-top:30px;
    }
#title
    {
    position: relative;
    font-family: 'Roboto Slab';
    font-size: 36px;
    text-align: center;
    background: #3BF2BE;
    line-height:25px;
    margin-left:8px;
    margin-right:8px;
    }
span 
    { 
    line-height: 0px;
    }
.underline 
    { 
    vertical-align:top; 
    }
li.cards
    {
    margin-bottom:-82px;
    }
li#card1
    {
    margin-bottom:-82px;
    }
li#card
    {
    height: auto;
    background: #0894fe;
    position: relative;
    padding:8px;
    margin-top:17px;
    margin-left:8px;
    margin-right:8px;
    }
li#card1
    {
    margin-top:17px;
    }
p
    {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    color: white;
    line-height:120%;
    }
.text_link
    {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    color: white;
    line-height:120%;
    }
.text_link:hover
    {
    text-decoration:underline;
    }
a img 
    { 
    border:none; 
    vertical-align:top;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: PERSON~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: SEAN THOMAS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#kayak_img
    {
    position: relative;
    background:white;
    float:left;
    max-height:500px;
    overflow:hidden;
    }
img.source
    {
    width:100%;
    height:auto;
    }
#kayak_img:hover .source
    {
    }
#kayak_img:hover .hoverimage
    {
    display:block;
    }
.hoverimage
    {
    position:absolute;
    top:17px;
    right:17px;
    display:block;
    opacity:0.5;
    height:33px;
    width:33px;

    }
#sean_thomas_title
    {
    float: left;
    width: 100%;
    margin-top:3px;
    }
#sean_thomas_text
    {
    float:left;
    width:100%;
    }
   
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: UI DESIGN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: AMAUMD~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    

#ama1_img
    {
    position: relative;
    background:white;
    max-height:500px;
    overflow:hidden;
    }
#ama1_img img.source
    {
    width:100%;
    height:auto;
    }
#ama1_img:hover .source
    {
    opacity:0.7;
    }
#ama1_img:hover .hoverimage
    {
    display:block;
    }
#ama1_title
    {
    width: 100%;
    margin-top:4px;
    }
#ama1_text
    {
    width: 100%;
    }
#ama2_img
    {
    position: relative;
    background:white;
    margin-top: 17px;
    float:left;
    max-height:500px;
    overflow:hidden;
    }
#ama2_img img.source
    {
    width:100%;
    height:auto;
    }
#ama2_img:hover .source
    {
    opacity:0.7;
    }
#ama2_img:hover .hoverimage
    {
    display:block;
    }
#ama2_title
    {
    float:left;
    width:100%;
    margin-top:4px;
    }
#ama2_text
    {
    float:left;
    width:100%;
    }
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: PORTFOLIO~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    

#portfolio1_img
    {
    position: relative;
    background:white;
    float: right;
    max-height:500px;
    overflow:hidden;
    }
#portfolio1_img:hover .source
    {
    }
#portfolio1_img:hover .hoverimage
    {
    display:block;
    }
#portfolio1_title
    {
    width: 100%;
    float:left;
    margin-top:3px;
    }
#portfolio1_text
    {
    width: 100%;
    float:left;
    }
#portfolio2_img
    {
    position: relative;
    background:white;
    margin-top: 17px;
    float:right;
    max-height:500px;
    overflow:hidden;
    }

#portfolio2_title
    {
    float:left;
    width:100%;
    margin-top:4px;
    }
#portfolio2_text
    {
    width:100%;
    float:left;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: GRAPHIC ART~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: TIMELINE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#timeline_img
    {
    position: relative;
    background:white;
    float:left;
    max-height:500px;
    overflow:hidden;
    }


#timeline_title
    {
    float: left;
    width:100%;
    margin-top:3px;
    }
#timeline_text
    {
    float: left;
    width: 100%;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: A2LP~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    

#a2lp_title
    {
    float:left;
    width: 100%;
    margin-top:3px;
    }
#a2lp_text
    {
    float:left;
    width: 100%
    }  
#a2lp1_img
    {
    position: relative;
    float:left;
    background:white;
    max-height:200px;
    width:calc(50% - 4px);
    margin:0 8px 8px 0;
    overflow:hidden;
    }

#a2lp2_img
    {
    position: relative;
    float:left;
    max-height:200px;
    width:calc(50% - 4px);
    margin:0 0 8px 0;
    overflow:hidden;
    background:white;
    }

#a2lp3_img
    {
    position: relative;
    float:left;
    max-height:200px;
    width:calc(50% - 4px);
    margin:0 8px 8px 0;
    overflow:hidden;
    background:white;
    }

#a2lp4_img
    {
    position: relative;
    float:left;
    max-height:200px;
    width:calc(50% - 4px);
    margin:0 0 0 0;
    overflow:hidden;
    background:white;
    }

#a2lp5_img
    {
    position: relative;
    float:left;
    max-height:200px;
    width:100%;
    overflow:hidden;
    background:white;
    }

  
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: BUSINESS CARDS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    

#business_title
    {
    float:left;
    width: 100%;
    margin-top:-4px;
    }
#business_text
    {
    float:left;
    width: 100%;
    }   
#card11_img
    {
    position: relative;
    background:white;
    float:left;
    max-height:200px;
    overflow:hidden;
    width:calc(50% - 4px);
    margin:0 8px 0 0;
    }

#card12_img
    {
    position: relative;
    background:white;
    float:left;
    max-height:200px;
    overflow:hidden;
    width:calc(50% - 4px);
    margin:0 0 0 0;
    }

#card2_img
    {
    position: relative;
    background:white;
    float:left;
    margin-top:17px;
    margin-bottom:17px;
    max-height:200px;
    overflow:hidden;
    width:100%;
    margin:8px 0 8px 0;
    }

#card31_img
    {
    position: relative;
    background:white;
    float:left;
    max-height:200px;
    overflow:hidden;
    width:calc(50% - 4px);
    margin:0 8px 8px 0;
    }
  
#card32_img
    {
    position: relative;
    background:white;
    float:left;
    margin-left:17px;
    max-height:200px;
    overflow:hidden;
    width:calc(50% - 4px);
    margin:0 0 8px 0;
    }



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: MUSIC~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: REINTRO~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#profanity
    {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    line-height:120%;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-bottom:10px;
    }
#reintro_player1
    {
    position: relative;
    }
#reintro1_title
    {
    }
#reintro1_text
    {
    }
#reintro_player2
    {
    position: relative;
    margin-top: 17px;
    }
#reintro2_title
    {
    }
#reintro2_text
    {
    }
#reintro_player3
    {
    position: relative;
    margin-top:17px;
    }
#reintro3_title
    {
    }
#reintro3_text
    {
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: TEST~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#test_player
    {
    position: relative;
    }
#test_title
    {
    }
#test_text
    {
    }    
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: TEAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#teal_player1
    {
    position: relative;
    }
#teal_title
    {
    }
#teal_text
    {
    }
#teal2_player2
    {
    position: relative;
    margin-top:17px;
    }
#teal2_title
    {
    }
#teal2_text
    {
    }