* 
    {
    margin: 0;
    padding: 0;
    border: 0;
    }
body 
    {
    margin-left: auto;
 	margin-right: auto;
 	width: 1024px;
 	position: relative;
 	/*background:black;*/
 	/*omg work*/
    }
h2, h3 
    {
    font-weight: normal;
    }
h2
    {
	text-align: center;
	font-family: "Roboto Slab";
    font-size: 36px;
    color:black;
    }
h3
    {
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    color: white;
    height:100%;
    margin-bottom:6px;
    border-bottom:1px solid white;
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#navbar
    {
    margin-left: 17px;
    margin-top:17px;
    width: 320px;
    float: left;
    position:fixed;  
    }
#phone_logo
    {
    display:none;
    }
#logo
    {
    
    margin-top:-48px;
    z-index:-1;
    width:320px;
    height:auto;
    }
h1
    {
    font-family: "Geo";
    font-size: 112px;
    display: inline-block;
    position:relative;
    font-weight:normal;
    line-height:62px;
    height:62px;
    margin-top:34px;
    }
a
    {
    text-decoration: none;
    color: black;	
    }
a: visited 
    {
    text-decoration: none;
    color: black;
    }
a: active 
    {
    text-decoration: none;
    color: black;
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR: NAVI BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


ul
    {
    list-style-type: none;
    }
.nav_button
    {
    position:relative;
	background-color: #3BF2BE;
	margin-top: 8px;
	line-height: 50px;
    }
.nav_button:hover
    {
	opacity: 0.5 !important;
    }
#person_button
    {
    background: #0894fe;
    color: white;
    margin-top:15px;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR: SOCIAL BUTTONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.social
    {
    position:relative;
    margin-top:8px;
    float:left;
    margin-right:8px;
    height:50px;
    width:57px;
    text-align:center;
    background: #3BF2BE;
    }
.social img
    {
    height:28px;
    width:auto;
    margin-top:11px;
    }
#soundcloud img
    {
    width:41px;
    height:auto;
    margin-top:16px;
    }
.social:hover
    {
    opacity:0.5;
    }
#linkedin
    {
    margin-right:0px;
    width:59px;
    }
#email
    {
    width:58px;
    }

/*
.social
    {
    margin-top:8px;
    float:left;
    position: relative;
	text-align: left;
	font-family: "Roboto Slab";
    font-size: 21px;
    line-height:44px;
    width:100%;
    }
.social:hover
    {
    opacity: 0.5;
    }

#email
    {
    position: relative;
    float:left;
    margin-top:8px;
    }
#email:hover
    {
    opacity: 0.5;
    }
#email_text
    {
	position: relative;
	float:left;
	margin-top:8px;
	line-height:43px;
	margin-left:5px;
	text-align: left;
	font-family: "Roboto Slab";
    font-size: 21px;
    }
*/ 
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.touch
    {
    display:none;
    }
.scrollfixer
    {
    height:30px;
    }
#content
    {
    float:right;
    margin-right:17px;
    margin-bottom:17px;
    }
li.title
    {
    padding-top:30px;
    }
#title
    {
    position: absolute;
    font-family: 'Roboto Slab';
    font-size: 36px;
    width:100%;
    text-align: center;
    z-index:1;
    background: #3BF2BE;
    line-height:25px;
    width: 653px;
    }
span 
    { 
    line-height: 0px;
    }
.underline 
    { 
    vertical-align:top; 
    }
li.cards
    {
    width: 653px;
    padding-top:25px;
    margin-bottom:-30px;
    }
li#card1
    {
    margin-bottom:-30px;
    }
li#card
    {
    height: auto;
    background: #0894fe;
    position: relative;
    width: 619px;
    padding:17px;
    margin-top:17px;
    }
p
    {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: white;
    line-height:120%;
    }
.text_link
    {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: white;
    line-height:120%;
    }
.text_link:hover
    {
    text-decoration:underline;
    }
a img 
    { 
    border:none; 
    vertical-align:top;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: PERSON~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: SEAN THOMAS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#kayak_img
    {
    position: relative;
    background:white;
    float:left;
    }
#kayak_img img.source
    {
    width:397px;
    height:auto;
    }
#kayak_img:hover .source
    {
    opacity:0.7;
    }
#kayak_img:hover .hoverimage
    {
    display:block;
    }
.hoverimage
    {
    position:absolute;
    top:17px;
    right:17px;
    display:none;
    height:33px;
    width:33px;
    }
#sean_thomas_title
    {
    margin-top:-4px;
    float: right;
    width: 205px;
    }
#sean_thomas_text
    {
    float:right;
    width:205px;
    }
   
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: UI DESIGN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: AMAUMD~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    

#ama1_img
    {
    position: relative;
    background:white;
    }
#ama1_img img.source
    {
    width:619px;
    height:auto;
    }
#ama1_img:hover .source
    {
    opacity:0.7;
    }
#ama1_img:hover .hoverimage
    {
    display:block;
    }
#ama1_title
    {
    width: 619px;
    margin-top:4px;
    }
#ama1_text
    {
    width: 619px;
    }
#ama2_img
    {
    position: relative;
    background:white;
    margin-top: 17px;
    float:left;
    }
#ama2_img img.source
    {
    width:297px;
    height:auto;
    }
#ama2_img:hover .source
    {
    opacity:0.7;
    }
#ama2_img:hover .hoverimage
    {
    display:block;
    }
#ama2_title
    {
    float:left;
    width:305px;
    margin-top:13px;
    margin-left:16px;
    }
#ama2_text
    {
    float:left;
    width:305px;
    margin-left:16px;
    }
    

    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: PORTFOLIO~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    

#portfolio1_img
    {
    position: relative;
    background:white;
    float: right;
    }
#portfolio1_img img.source
    {
    width:397px;
    height:auto;
    }
#portfolio1_img:hover .source
    {
    opacity:0.7;
    }
#portfolio1_img:hover .hoverimage
    {
    display:block;
    }
#portfolio1_title
    {
    width: 205px;
    margin-top:-4px;
    }
#portfolio1_text
    {
    width: 205px;
    }
#portfolio2_img
    {
    position: relative;
    background:white;
    margin-top: 17px;
    float:right;
    }
#portfolio2_img img.source
    {
    width:619px;
    height:auto;
    }
#portfolio2_img:hover .source
    {
    opacity:0.7;
    }
#portfolio2_img:hover .hoverimage
    {
    display:block;
    }
#portfolio2_title
    {
    float:left;
    width:100%;
    margin-top:4px;
    }
#portfolio2_text
    {
    float:left;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: GRAPHIC ART~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: TIMELINE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#timeline_img
    {
    position: relative;
    background:white;
    float:left;
    }
#timeline_img img.source
    {
    width:397px;
    height:auto;
    }
#timeline_img:hover .source
    {
    background:white;
    opacity:0.7;
    }
#timeline_img:hover .hoverimage
    {
    display:block;
    }
.hoverimage
    {
    position:absolute;
    top:17px;
    right:17px;
    display:none;
    }
#timeline_title
    {
    margin-top:-4px;
    float: right;
    width:205px;
    }
#timeline_text
    {
    float: right;
    width: 205px;
    }
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: A2LP~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    
#left_text
    {
    width:205px;
    float:right;
    }
#right_images
    {
    width:414px;
    float:right;
    }
#a2lp_title
    {
    margin-top:-4px;
    float:left;
    width: 205px;
    }
#a2lp_text
    {
    float:left;
    width: 205px;
    }  
#a2lp1_img
    {
    position: relative;
    float:left;
    margin-left:17px;
    background:white;
    }
#a2lp1_img img.source
    {
    width:190px;
    height:auto;
    }
#a2lp1_img:hover .source
    {
    opacity:0.7;
    }
#a2lp1_img:hover .hoverimage
    {
    display:block;
    }
#a2lp2_img
    {
    position: relative;
    float:left;
    margin-left:17px;
    background:white;
    }
#a2lp2_img img.source
    {
    width:190px;
    height:auto;
    }
#a2lp2_img:hover .source
    {
    opacity:0.7;
    }
#a2lp2_img:hover .hoverimage
    {
    display:block;
    }
#a2lp3_img
    {
    position: relative;
    float:left;
    margin-left:17px;
    margin-top:17px;
    background:white;
    }
#a2lp3_img img.source
    {
    width:190px;
    height:auto;
    }
#a2lp3_img:hover .source
    {
    opacity:0.7;
    }
#a2lp3_img:hover .hoverimage
    {
    display:block;
    } 
#a2lp4_img
    {
    position: relative;
    float:left;
    margin-left:17px;
    margin-top:17px;
    background:white;
    }
#a2lp4_img img.source
    {
    width:190px;
    height:auto;
    }
#a2lp4_img:hover .source
    {
    opacity:0.7;
    }
#a2lp4_img:hover .hoverimage
    {
    display:block;
    }   
#a2lp5_img
    {
    position: relative;
    float:left;
    margin-left:17px;
    margin-top:17px;
    background:white;
    }
#a2lp5_img img.source
    {
    width:190px;
    height:auto;
    }
#a2lp5_img:hover .source
    {
    opacity:0.7;
    }
#a2lp5_img:hover .hoverimage
    {
    display:block;
    }
  
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: BUSINESS CARDS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    
#right_text
    {
    width:205px;
    float:left;
    }
#left_images
    {
    width:414px;
    float:left;
    }
#business_title
    {
    margin-top:-4px;
    float:left;
    width: 205px;
    }
#business_text
    {
    float:left;
    width: 205px;
    }   
#card11_img
    {
    position: relative;
    background:white;
    float:left;
    }
#card11_img img.source
    {
    width:190px;
    height:auto;
    }
#card11_img:hover .source
    {
    opacity:0.7;
    }
#card11_img:hover .hoverimage
    {
    display:block;
    }  
#card12_img
    {
    position: relative;
    background:white;
    float:left;
    margin-left:17px;
    }
#card12_img img.source
    {
    width:190px;
    height:auto;
    }
#card12_img:hover .source
    {
    opacity:0.7;
    }
#card12_img:hover .hoverimage
    {
    display:block;
    }  
#card2_img
    {
    position: relative;
    background:white;
    float:left;
    margin-top:17px;
    margin-bottom:17px;
    }
#card2_img img.source
    {
    width:397px;
    height:auto;
    }
#card2_img:hover .source
    {
    opacity:0.7;
    }
#card2_img:hover .hoverimage
    {
    display:block;
    }   
#card31_img
    {
    position: relative;
    background:white;
    float:left;
    }
#card31_img img.source
    {
    width:190px;
    height:auto;
    }
#card31_img:hover .source
    {
    opacity:0.7;
    }
#card31_img:hover .hoverimage
    {
    display:block;
    }   
#card32_img
    {
    position: relative;
    background:white;
    float:left;
    margin-left:17px;
    }
#card32_img img.source
    {
    width:190px;
    height:auto;
    }
#card32_img:hover .source
    {
    opacity:0.7;
    }
#card32_img:hover .hoverimage
    {
    display:block;
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SECTION: MUSIC~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: REINTRO~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#profanity
    {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    line-height:120%;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-bottom:10px;
    }
#reintro_player1
    {
    position: relative;
    }
#reintro1_title
    {
    }
#reintro1_text
    {
    }
#reintro_player2
    {
    position: relative;
    margin-top: 17px;
    }
#reintro2_title
    {
    }
#reintro2_text
    {
    }
#reintro_player3
    {
    position: relative;
    margin-top:17px;
    }
#reintro3_title
    {
    }
#reintro3_text
    {
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: TEST~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#test_player
    {
    position: relative;
    }
#test_title
    {
    }
#test_text
    {
    }    
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARD: TEAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#teal_player1
    {
    position: relative;
    }
#teal_title
    {
    }
#teal_text
    {
    }
#teal2_player2
    {
    position: relative;
    margin-top:17px;
    }
#teal2_title
    {
    }
#teal2_text
    {
    }