<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="icon" type="image/png" href="/static/images/SEANGT_favicon.png">
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>

    <title>
        SEANGT Portfolio
    </title>
    
    <link type="text/css" rel="stylesheet" media="screen and (min-width: 1024px)" href="/static/style.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 687px) and (max-width: 1023px)" href="/static/tablets.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 686px)" href="/static/phones.css" />

    <link rel="stylesheet" type="text/css" href="/static/js/shadowbox-3.0.3/shadowbox.css">

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
    <script src="/static/js/jquery.localscroll.js" type="text/javascript"></script> 
    <script src="/static/js/jquery.scrollTo.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/shadowbox-3.0.3/shadowbox.js"></script>
    <script type="text/javascript"> 
        Shadowbox.init(); 
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<a href="https://plus.google.com/116328517693907650623" rel="publisher"></a>

<a name="top"></a>


<div id="navbar">

    <!--NAVIGATION-->
    
        <!--NAV BUTTONS-->
        <ul>
             <li class="nav">   
                <a style="display:block" href="#top">
                <h1><span style="display: none">SEANGT</span><img id="logo" class="resize" src="/static/images/icon+type.png" alt="SEANGT Logo"></img></h1>
                <img id="phone_logo" src="/static/images/logo_small.png" alt="SEANGT Logo"></img>
                </a>
                
            </li>
            <li class="nav">
                <h2>
                <a style="display:block" href="#top" class="nav_button" id="person_button">
                    <span>Person</span>
                </a>
                </h2>
            </li>
            <li class="nav">
                <h2>
                <a style="display:block" href="#ui" class="nav_button" id="ui_button">
                    <span>UI Designer</span>
                </a>
                </h2>
            </li>
            <li class="nav">
                <h2>
                <a style="display:block" href="#art" class="nav_button" id="art_button">
                    <span>Graphic Artist</span>
                </a>
                </h2>
            </li>
            <li class="nav">
                <h2>
                <a style="display:block" href="#music" class="nav_button" id="music_button">
                    <span>Music Producer</span>
                </a>
                </h2>
            </li>
        </ul>
        
        <!--SOCIAL BUTTONS-->
        <ul> 
            <li class="social" id="email">
            <a style="display:block" href="mailto:seangt@umich.edu" target="_blank">
                <img src="/static/images/email.png" alt="Email button"/>
            </a>
            </li>
            <li class="social" id="facebook">
            <a style="display:block" href="https://www.facebook.com/TheSEANGT" target="_blank">
                <img src="/static/images/facebook.png" alt="Facebook button"/>
            </a>
            </li>
            <li class="social" id="soundcloud">
            <a style="display:block" href="https://soundcloud.com/theseangt" target="_blank">
                <img src="/static/images/soundcloud.png" alt="Soundcloud button"/>
            </a>
            </li>
            <li class="social" id="twitter">
            <a style="display:block" href="https://twitter.com/theseangt" target="_blank">
                <img src="/static/images/twitter.png" alt="Twitter button"/>
            </a>
            </li>
            <li class="social" id="linkedin">
            <a style="display:block" href="http://www.linkedin.com/pub/sean-thomas/73/128/443" target="_blank">
                <img src="/static/images/linkedin.png" alt="Linkedin button"/>
            </a>
            </li>
        </ul>
     </div> 
     
    
     
<ul class="touch_social">
    <li class="social touch" id="email">
    <a style="display:block" href="mailto:seangt@umich.edu" target="_blank">
        <img src="/static/images/email.png" alt="Email button"/>
    </a>
    </li>
    <li class="social touch" id="facebook">
    <a style="display:block" href="https://www.facebook.com/TheSEANGT" target="_blank">
        <img src="/static/images/facebook.png" alt="Facebook button"/>
    </a>
    </li>
    <li class="social touch" id="soundcloud">
    <a style="display:block" href="https://soundcloud.com/theseangt" target="_blank">
        <img id="scloud" src="/static/images/soundcloud.png" alt="Soundcloud button"/>
    </a>
    </li>
    <li class="social touch" id="twitter">
    <a style="display:block" href="https://twitter.com/theseangt" target="_blank">
        <img src="/static/images/twitter.png" alt="Twitter button"/>
    </a>
    </li>
    <li class="social touch" id="linkedin">
    <a style="display:block" href="http://www.linkedin.com/pub/sean-thomas/73/128/443" target="_blank">
        <img src="/static/images/linkedin.png" alt="Linkedin button"/>
    </a>
    </li>
</ul>

<div id="container"> 

<div id="content">

<ul>
    <!--PERSON SECTION-->
    
    <li id="card1">    
        <ul>
            <!--ABOUT ME CARD-->
            <li id="card">
                <a href="/static/images/kayak_large.png" rel="lightbox" title="Kayaking on the Huron River">
                <div id="kayak_img">
                    <img class="source" src="/static/images/kayak_large.png" alt="Kayaking on the Huron River"/>
                    <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                </div>
                </a>
                <div id="sean_thomas_title"><h3>Sean Thomas</h3></div>
                <div id="sean_thomas_text"><p>I’m a 23-year-old graduate from the University of Michigan with a Bachelor of Arts in Social Computing Informatics. I live in Ann Arbor, Michigan and enjoy biking, kayaking, and getting my groove on. I’m currently working toward a career in UI design and development while learning to produce music on my own as a hobby. Feel free to scroll down the page for more info on my most recent projects.
                </br></br>
                Request a resumé:</br>
                <a class="text_link" href="mailto:seangt@umich.edu" target="_blank">seangt@umich.edu</a></p></div>
                <br style="clear: both" />
            </li>
        </ul>
    </li>
    
    
    <!--UI DESIGN SECTION-->
    <li class="title">    
        <a name="ui"></a>
        <div class="scrollfixer" id="ui_fixer"></div>
        <h2>
        <div id="title">
            <span class="underline" id="ui_title">UI Design</span>
        </div>
        </h2>
    </li>

    <li class="cards">
        <ul>
            <!--AMAUMD CARD-->
            <li id="card">         
                <a href="/static/images/amaumd.png" rel="lightbox[ama]" title="AMA UM Dearborn desktop/wide homepage">
                <div id="ama1_img">
                    <img class="source" src="/static/images/amaumd.png" alt="AMA UM Dearborn desktop/wide homepage"/>
                    <img class="hoverimage" src="/static/images/arrows.png" alt="" /></div>
                </a>
                <div id="ama1_title"><h3>AMA UofM Dearborn Website</h3></div>
                <div id="ama1_text"><p>The American Marketing Association at University of Michigan Dearborn challenged me to build 
                a client-accessible site they can post to and show updates from
                Instagram and a Google Calendar. I chose Wordpress as the base for the post management, then heavily customized every part
                of the layout. There is custom navigation based on Wordpress categories, an email-sending form I built for new members to join,
                custom sidebar with extra information, Instagram feed on the top, and a customized Google Calendar widget. The navigation,
                search, sidebar opening and closing (when mobile or squeezed), and the form are all animated with CSS. Of course, like this
                site, the entire website dynamically changes based on browser width/device.</br></br>
                Please check out all of the fancy features at:</br>
                <a class="text_link" href="http://amaumd.com" target="_blank">amaumd.com</a></p></div>
            
                <a href="/static/images/amaumd_phone.png" rel="lightbox[ama]" title="Mobile or small-width view of amaumd.com">
                    <div id="ama2_img">
                        <img class="source" src="/static/images/amaumd_phone.png" alt="Mobile or small-width view of amaumd.com"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>
                <div id="ama2_title"><h3>Mobile view</h3></div>
                <div id="ama2_text"><p>The wordpress theme I worked from already implemented a dynamic layout for all of the 
                various parts of posts, so I modified the styling and hid my sidebar when the browser width was too small. Also 
                changed some font sizes and tweaked other things to be more usable on the mobile web. </p></div>
                <br style="clear: both" />
            </li>
            
            <!--PORTFOLIO CARD-->
            <li id="card">         
                <a href="/static/images/Portfolio_v1.0_large.png" rel="lightbox[portfolio]" title="First mock-up of my portfolio site">
                <div id="portfolio1_img">
                    <img class="source" src="/static/images/Portfolio_v1.0_large.png" alt="Portfolio site version 1"/>
                    <img class="hoverimage" src="/static/images/arrows.png" alt="" /></div>
                </a>
                <div id="portfolio1_title"><h3>Portfolio v1.0</h3></div>
                <div id="portfolio1_text"><p>This was the first design mock-up for this site. It’s heavily Google Now inspired, and was basically just a warm-up exercise to get the design ideas flowing. It ended up being a little too grey for my tastes, and so I never coded it.</p></div>
            
                <a href="/static/images/Portfolio_v2.0_large.png" rel="lightbox[portfolio]" title="Second mock-up of my portfolio site">
                    <div id="portfolio2_img">
                        <img class="source" src="/static/images/Portfolio_v2.0_large.png" alt="Portfolio site version 2"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>
                <div id="portfolio2_title"><h3>Portfolio v2.0</h3></div>
                <div id="portfolio2_text"><p>After a boring look at my old design, I tried to spice it up. I even made myself a new logo. Here it includes the old custom logotype I made that I later changed for better readability. My main issue here was the navigation, once I got to this point I realized it was probably best to put it on the side - Especially for a linear one-page site like this one.</p></div>
                <br style="clear: both" />
            </li>
        </ul>
    </li>
    
    
    <!--GRAPHIC ART SECTION--> 
    <li class="title">    
        <a name="art"></a>
        <div class="scrollfixer" id="art_fixer"></div>
        <h2>
        <div id="title">
            <span class="underline" id="art_title">Graphic Art</span>
        </div>
        </h2>
    </li>
    
    <li class="cards">    
        <ul>
            <!--TIMELINE CARD-->
            <li id="card">
                <a href="/static/images/mark_large.png" rel="lightbox" title="Marc Chagall Timeline Poster">
                <div id="timeline_img">
                    <img class="source" src="/static/images/mark_large.png" alt="Marc Chagall Timeline Poster"/>
                    <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                </div>
                </a>
                <div id="timeline_title"><h3>Timeline Poster</h3></div>
                <div id="timeline_text"><p>For this project I had to make a timeline of an artist’s life. I chose Mark Chagall because he used the most color out of the options. I quickly realized 15 images were not going to fit on an 11x17” poster in a straight line, so I developed this idea with the colored lines connecting everything to a timeline on the right. The color scheme, title font, and background shapes are all inspired by his artwork that commonly incorporated multiple colors and geometric shapes.</p></div>
                <br style="clear: both" />
            </li>
            
            <!--A2LP CARD-->
            <li id="card">
                
                <div id="right_images">
                <a href="/static/images/a2lp1_large.png" rel="lightbox[a2lp]" title="Color Scheme">
                    <div id="a2lp1_img">
                        <img class="source" src="/static/images/a2lp1_large.png" alt="A2LP Logo Design Guide Page 1"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/a2lp2_large.png" rel="lightbox[a2lp]" title="Size Guidelines">
                    <div id="a2lp2_img">
                        <img class="source" src="/static/images/a2lp2_large.png" alt="A2LP Logo Design Guide Page 2"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/a2lp3_large.png" rel="lightbox[a2lp]" title="Spacing Guidelines">
                    <div id="a2lp3_img">
                        <img class="source" src="/static/images/a2lp3_large.png" alt="A2LP Logo Design Guide Page 3"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/a2lp4_large.png" rel="lightbox[a2lp]" title="Color Variations">
                    <div id="a2lp4_img">
                        <img class="source" src="/static/images/a2lp4_large.png" alt="A2LP Logo Design Guide Page 4"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/a2lp5_large.png" rel="lightbox[a2lp]" title="Merchandising">
                    <div id="a2lp5_img">
                        <img class="source" src="/static/images/a2lp5_large.png" alt="A2LP Logo Design Guide Page 5"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>
                </div>
                <div id="left_text">                     
                <div id="a2lp_title"><h3>A2LP Branding</h3></div>
                <div id="a2lp_text"><p>During my design process for this brand, I researched multiple other organizations that dealt with language and learning. Many of them utilize a circle-style logo with figures of people. I decided to stick with the circle theme, but make it more relevant. The speech bubbles represent the child’s native and foreign languages. A venn-diagram-style intersection stands for the way the Ann Arbor Languages Partnership helps children bring the two together. Proper spacing, scaling, recoloring, and merchandising are covered in this design guide.</p></div>
                </div>
                <br style="clear: both" />
            </li>

            <!--BUSINESS CARDS CARD-->
            <li id="card">
                
                <div id="left_images">
                <a href="/static/images/card11_large.png" rel="lightbox[business]" title="English version of first design">
                    <div id="card11_img">
                        <img class="source" src="/static/images/card11_large.png" alt="English version of first design"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/card12_large.png" rel="lightbox[business]" title="Alternate language version of first design">
                    <div id="card12_img">
                        <img class="source" src="/static/images/card12_large.png" alt="Alternate language version of first design"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/card2_large.png" rel="lightbox[business]" title="Digital business card">
                    <div id="card2_img">
                        <img class="source" src="/static/images/card2_large.png" alt="Digital business card"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/card31_large.png" rel="lightbox[business]" title="Front of triad color scheme portrait card">
                    <div id="card31_img">
                        <img class="source" src="/static/images/card31_large.png" alt="Front of triad color scheme portrait card"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>

                <a href="/static/images/card32_large.png" rel="lightbox[business]" title="Back of triad color scheme portrait card">
                    <div id="card32_img">
                        <img class="source" src="/static/images/card32_large.png" alt="Back of triad color scheme portrait card"/>
                        <img class="hoverimage" src="/static/images/arrows.png" alt="" />
                    </div>
                </a>
                </div>
                <div id="right_text">                             
                <div id="business_title"><h3>Business Cards</h3></div>
                <div id="business_text"><p>These business cards were part of an assignment for one of my classes at UofM. I had to make one design which utilized a font that supported non-english characters (top), one design for a digital card with social links (middle), and finally one with a triad color scheme in portait orientation (bottom).</p></div>
                </div>
                <br style="clear: both" />
            </li>
        </ul>
    </li>
    
    
    <!--MUSIC SECTION-->
    <li class="title">    
        <a name="music"></a>
        <div class="scrollfixer" id="music_fixer"></div>
        <h2>
        <div id="title">
            <span class="underline" id="music_title">Music</span>
        </div>
        </h2>
    </li>
    
    <li class="cards">    
        <ul>

            <!--REINTRO CARD-->
            <li id="card">
                <div id="profanity">*WARNING: Gratuitous profanity is contained throughout these demos.*</div>
                <div id="reintro_player1">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F95054769&amp;color=3bf2be&amp;auto_play=false&amp;show_artwork=true"></iframe>
                </div>
                <div id="reintro1_title"><h3>Reintroduction Demo V3</h3></div>
                <div id="reintro1_text"><p>This is the furthest this song has gotten so far. The previous two demos are below. In this one I came a little closer to a good mix that's loud enough for each part, but it's almost impossible to mix correctly with $8 headphones. That said, I played with getting out some of the things that are stressing me out lately in this version. I also added a fun Tyra Banks snippet.</p></div>
                
                <div id="reintro_player2">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F87551521&amp;color=3bf2be&amp;auto_play=false&amp;show_artwork=true"></iframe>
                </div>
                <div id="reintro2_title"><h3>Reintroduction Demo V2</h3></div>
                <div id="reintro2_text"><p>In the second version, I changed the beat of the non-crazy parts to something more complex than beat-clap-beat-clap. I also toned down the clap and amped up the bass. This was the first version with vocals and better risers before the bass drops as well.</p></div>
                
                <div id="reintro_player3">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F81224122&amp;color=3bf2be&amp;auto_play=false&amp;show_artwork=true"></iframe>
                </div>    
                <div id="reintro3_title"><h3>Reintroduction Demo V1</h3></div>
                <div id="reintro3_text"><p>In the very first demo of this song, I wanted it to be about reintroducing myself as "SEANGT" and what that meant. Sort of a rebirth style dance anthem. I was learning as I went with this, watching youtube tutorial after youtube tutorial to figure out each little option in Logic Pro 9.</p></div>
            </li>
            
            <!--TEST CARD-->
            <li id="card">
                <div id="test_player">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F77625904&amp;color=3bf2be&amp;auto_play=false&amp;show_artwork=true"></iframe>
                </div>
                <div id="test_title"><h3>First tutorial with Logic Pro</h3></div>
                <div id="test_text"><p>This was the first thing I produced in Logic Pro after taking a while to figure out which software was best to use for this kind of thing outside of Garageband. The tutorial called for adding drums, hihats, etc, so I added something like in the tutorial I watched for each part. After working on it for a little while I got this. You can tell it was my first use of Logic because I couldn't figure out how to trim the output and there's 2 minutes of silence on the end. Lame.</p></div>
            </li>

            <!--TEAL CARD-->
            <li id="card">
                <div id="teal_player1">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F68488209&amp;color=3bf2be&amp;auto_play=false&amp;show_artwork=true"></iframe>
                </div>
                <div id="teal_title"><h3>The Real Teal</h3></div>
                <div id="teal_text"><p>Once I got the garageband tune below down, I tweaked it a little for louder bass and threw a few lines of lyrics on there. I played with the vocal effects to try them out as well. I was going to add more lyrics, but by the time I got to the first line I was really excited and just copy+pasted what I had over the rest to put it out.</p></div>
                
                <div id="teal2_player2">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F68395679&amp;color=3bf2be&amp;auto_play=false&amp;show_artwork=true"></iframe>
                </div>
                <div id="teal2_title"><h3>Garageband Shenanigans</h3></div>
                <div id="teal2_text"><p>This was what I came up with after 8 hours in Garageband for the first time. The bass is super low but there's a pretty fun beat in there somewhere.</p></div>
            </li>
        </ul>
    </li>
    
</ul>
</div>

</div>
</body> 

<!-----------------JAVASCRIPT--------------------->
<script type="text/javascript">


$(window).scroll(function() {

/* scrolly selection: Person */
var top = $(window).scrollTop();
var ui = $("#ui_fixer").offset().top
var art = $("#art_fixer").offset().top
var music = $("#music_fixer").offset().top
if(top < ui) 
    {
    $("#person_button").css('background-color', '#0894fe');
    $("#person_button").css('color', 'white');
    } 
else 
    {
    $("#person_button").css('background-color', '#3BF2BE');
    $("#person_button").css('color', 'black');
    }
/* scrolly selection: UI Designer */       

if(top >= ui && top < art) 
    {
    $("#ui_button").css('background-color', '#0894fe');
    $("#ui_button").css('color', 'white');
    } 
else 
    {
    $("#ui_button").css('background-color', '#3BF2BE');
    $("#ui_button").css('color', 'black');
    }

/* scrolly selection: Graphic Artist */     

if(top >= art && top < music) 
    {
    $("#art_button").css('background-color', '#0894fe');
    $("#art_button").css('color', 'white');
    }
else 
    {
    $("#art_button").css('background-color', '#3BF2BE');
    $("#art_button").css('color', 'black');
    }

/* scrolly selection: Music Producer */

if(top >= music) 
    {
    $("#music_button").css('background-color', '#0894fe');
    $("#music_button").css('color', 'white');
    } 
else 
    {
    $("#music_button").css('background-color', '#3BF2BE');
    $("#music_button").css('color', 'black');
    }

/* scrolly navi *//*
if ($(window).height() > 582 && $(window).width() >= 1024)
    {
    if ($(window).scrollTop() > 193 && $(window).scrollTop() <246) 
        {
        $('h1').css('position', 'fixed');
        $('h1').css('margin-top', '0px');
        
        $('.buttons').css('position', 'absolute');
        $('.buttons').css('margin-top', '260px');
        }
    else if($(window).scrollTop() >=246)
        {
        $('h1').css('position', 'fixed');
        $('h1').css('margin-top', '0px');
        
        $('.buttons').css('position', 'fixed');
        $('.buttons').css('margin-top', '15px');
        }
    
    else
        {
        $('h1').css('position', 'relative');
        $('h1').css('margin-top', '193px');
        
        $('.buttons').css('position', 'relative');
        $('.buttons').css('margin-top', '');
        }
    }
else
    {
    $('h1').css('position', 'relative');
    $('h1').css('margin-top', '193px');
        
    $('.buttons').css('position', 'relative');
    $('.buttons').css('margin-top', '');
    }*/
});
/*
$(window).resize(function() {
    $(window).trigger('scroll');
});*/

/* click then scroll animation */
$.localScroll({duration:200});
/*
(function($){


    // When a link is clicked, use AJAX to load that page
    // but use pushState to change the URL bar
    $(document).on('click', 'a', function(e){
        e.preventDefault();
        history.pushState({page: this.href}, '', this.href);
        loadPage('#frontPage', this.href);
    });

    // This event is triggered when you visit a page in the history
    // like when yu push the "back" button
    $(window).on('popstate', function(e){
        $('#sb-nav-close').click();
        loadPage('#frontPage', location.pathname);
        console.log(e.originalEvent.state);
    });
}(jQuery)); */
 
</script> 